<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <!-- Login Here -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/auth/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <!-- Signup Here -->
  <servlet>
    <servlet-name>Signup</servlet-name>
    <jsp-file>/auth/Signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <!-- Forgot Password -->
  <servlet>
    <servlet-name>ForgotPassword</servlet-name>
    <jsp-file>/auth/ForgotPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <!-- Logout Here -->
  <servlet>
    <servlet-name>Logout</servlet-name>
    <jsp-file>/auth/Logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <!-- Patient Here -->
  <servlet>
    <servlet-name>Patient</servlet-name>
    <jsp-file>/main/Patient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  <!-- Admin Here -->
  <servlet>
    <servlet-name>Admin</servlet-name>
    <jsp-file>/main/Admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <!-- Patient Registration Here -->
  <servlet>
    <servlet-name>PatientRegistration</servlet-name>
    <jsp-file>/main/PatientRegistration.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/PatientRegistration</url-pattern>
  </servlet-mapping>
  <!-- Payment Here -->
  <servlet>
    <servlet-name>Payment</servlet-name>
    <jsp-file>/main/Payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <!-- Profile Here -->
  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/main/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <!-- Settings Here -->
  <servlet>
    <servlet-name>Settings</servlet-name>
    <jsp-file>/main/Settings.jsp</jsp-file>
  </servlet>
  <!-- Verification Here -->
  <servlet-mapping>
    <servlet-name>Verification</servlet-name>
    <url-pattern>/Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Verification</servlet-name>
    <jsp-file>/main/Verification.jsp</jsp-file>
  </servlet>
  <!-- Verify Here -->
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Verify</servlet-name>
    <jsp-file>/main/Verify.jsp</jsp-file>
  </servlet>
  <!-- Settings Here -->
  <servlet-mapping>
    <servlet-name>Settings</servlet-name>
    <url-pattern>/Settings</url-pattern>
  </servlet-mapping>
  <!-- Patient Data Here -->
  <servlet-mapping>
    <servlet-name>PatientData</servlet-name>
    <url-pattern>/PatientData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientData</servlet-name>
    <jsp-file>/main/data/SendData/PatientData.jsp</jsp-file>
  </servlet>
  <!-- Payment Data Here -->
  <servlet-mapping>
    <servlet-name>PaymentData</servlet-name>
    <url-pattern>/PaymentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentData</servlet-name>
    <jsp-file>/main/data/SendData/PaymentData.jsp</jsp-file>
  </servlet>
  <!-- Staff Data Here -->
  <servlet-mapping>
    <servlet-name>StaffData</servlet-name>
    <url-pattern>/StaffData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffData</servlet-name>
    <jsp-file>/main/data/SendData/StaffData.jsp</jsp-file>
  </servlet>
  <!-- Ward Data  Here -->
  <servlet-mapping>
    <servlet-name>WardData</servlet-name>
    <url-pattern>/WardData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WardData</servlet-name>
    <jsp-file>/main/data/SendData/WardData.jsp</jsp-file>
  </servlet>
  <!-- Medicine Data Here -->
  <servlet-mapping>
    <servlet-name>MedicineData</servlet-name>
    <url-pattern>/MedicineData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MedicineData</servlet-name>
    <jsp-file>/main/data/SendData/MedicineData.jsp</jsp-file>
  </servlet>
  <!--  Docotr Data Here -->
  <servlet-mapping>
    <servlet-name>DoctorData</servlet-name>
    <url-pattern>/DoctorData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorData</servlet-name>
    <jsp-file>/main/data/SendData/DoctorData.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPatient</servlet-name>
    <url-pattern>/addPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPatient</servlet-name>
    <jsp-file>/main/addPatient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePatient</servlet-name>
    <url-pattern>/deletePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletePatient</servlet-name>
    <jsp-file>/main/data/DeleteData/deletePatient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDoctor</servlet-name>
    <url-pattern>/deleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteDoctor</servlet-name>
    <jsp-file>/main/data/DeleteData/deleteDoctor.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignWard</servlet-name>
    <url-pattern>/assignWard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assignWard</servlet-name>
    <jsp-file>/main/data/AddData/assignWard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deassignWard</servlet-name>
    <url-pattern>/deassignWard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deassignWard</servlet-name>
    <jsp-file>/main/data/DeleteData/deassignWard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicine</servlet-name>
    <url-pattern>/deleteMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteMedicine</servlet-name>
    <jsp-file>/main/data/DeleteData/deleteMedicine.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMedicine</servlet-name>
    <url-pattern>/addMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addMedicine</servlet-name>
    <jsp-file>/main/data/AddData/addMedicine.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStaff</servlet-name>
    <url-pattern>/addStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStaff</servlet-name>
    <jsp-file>/main/data/AddData/addStaff.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStaff</servlet-name>
    <url-pattern>/deleteStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStaff</servlet-name>
    <jsp-file>/main/data/DeleteData/deleteStaff.jsp</jsp-file>
  </servlet>
    <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connection</servlet-name>
    <jsp-file>/database/Connection.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OverviewData</servlet-name>
    <url-pattern>/OverviewData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OverviewData</servlet-name>
    <jsp-file>/main/data/SendData/OverviewData.jsp</jsp-file>
  </servlet>
  <display-name>Hospital_Management_System_Final</display-name>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
</web-app>